extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/ball.png", alt="face logo")
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
  section#title
    h3.accountmsg Account Creation
    p.info Pick a username and password to get started!
  section#signup
    form#signupForm(class="signForm", name="signupForm", action="/signup", method="POST")
      label(for="username") Username: 
      input#user(type="text", name="username", placeholder="username")
      label(for="pass") Password: 
      input#pass(type="password", name="pass", placeholder="password")
      label(for="pass2") Confirm Password:	  
      input#pass2(type="password", name="pass2", placeholder="retype password")
      input(type="hidden",name="_csrf",value="#{csrfToken}")
      a#signupSubmit(class="formSubmit", href="#") Sign up
  #digMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#dig(src="assets/img/dig.gif", alt="diglett error")
block scripts
        script(src="/assets/client.js")